html,body{
    width:100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
body{
    overflow-y: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #bfbfbf;
}
body::-webkit-scrollbar-track {
    background-color: #e5e5e5;
    border-radius: 5px;
}
#title{
    height: 50px;
    text-align: center;
    border-bottom-color: black;
    border-width: 1px;
    border-bottom-style: solid;
}
#scheduleContainer{
    margin: 5px;
    border-radius: 10px;
    float: left;
}
#update_date{
    width: 132.66px;
    background-color: #00BBFE;
    border-radius: 10px 10px 0px 0px;
    float: top;
    text-align: center;
}
#scadule{
    border:0px;
    width:130px;
    height:65px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    float: left;
    text-align: left;
}
#anything{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    width:32.66px;
    height:65px;
    float:right;
}
#indexLeft{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-position: left;
    min-width: 30%;
    animation: slidedrop 1s ease forwards;
}
@keyframes slidedrop {
    0%{
        transform : translate3d(0,-80%,0) ;
        visibility: visible;
        opacity: 0;
        z-index: -100;
    }
    99%{
        transform : translate3d(0,-1%,0) ;
        visibility: visible;
        opacity: 0.5;
        z-index: -100;
    }
    100%{
        opacity: 1;
        transform : translate3d(0,0,0) ;
    }
}
#indexLeft-top{
    display: flex;
    height: 35%;
    width: 100%;
}
#indexRight{
    border: 1px solid rgba(235,235,235,1);
    display: flex;
    flex-direction: column;
    float: right;
    width:100%;
    background-position: right;
    right: 0px;
    animation: slideright 1s ease forwards;
    height: 100%;
    padding: 0 10px 0 0;
}
@keyframes slideright {
    0%{
        transform : translate3d(100%,0,0) ;
        visibility: visible;
        z-index: -200;
    }
    100%{
        transform : translate3d(0,0,0) ;
    }
}
#indexWrap{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
#newSchedule{
    position: absolute;
    right: 0;
}

.dashboardScheduleBox,.dashboardScheduleBox1{
    width: 90%;
    height: 70px;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
}

.titleBox{
    margin-top : 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.titleBox span{
    font-size: 16px;
    margin-left: 5px;
}

.completeImg{
    width: 14px;
    height: 14px;
}

.dateBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
}
.dashboardScheduleContainer{
    margin-left:10px;
    width: 50%;
    align-items:start;
}

.dashboardScheduleWrap{
    display:flex;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    max-height: 100%;
}
.dashboardScheduleStartDay{
    width: 100%;
    text-align:center ;
    font-size: 12px;
    line-height: 15px;
}
#dashboardScheduleImageContainer img{
    width: 20px;
    height: 20px;
    border-radius: 70px;
}
#dashboardScheduleImageContainer{
    display: none;
    justify-content: start;
    margin-left: 10px;
    height: 30px;
    align-items: center;
}
.dashboardScheduleBox:hover{
    height: 100px;
}
.dashboardScheduleBox:hover #dashboardScheduleImageContainer{
    display: flex;
}
.completeBar{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: lightgreen;
    justify-content: center;
    border-radius: 10px;
}
.uncompleteBar{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: lightpink;
    flex-direction: row;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}
.todayScheduleChart{
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(235,235,235,1);
}
.todayScheduleChartBox{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-right: 1px solid rgba(235,235,235,1)
}
.todayScheduleChartBox p{
    width: 10%;
    text-align: center;
}