html,body{
    width:100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
#title{
    height: 50px;
    text-align: center;
    border-bottom-color: black;
    border-width: 1px;
    border-bottom-style: solid;
}
#scheduleContainer{
    margin: 5px;
    border-radius: 10px;
    float: left;
}
#update_date{
    width: 132.66px;
    background-color: #00BBFE;
    border-radius: 10px 10px 0px 0px;
    float: top;
    text-align: center;
}
#scadule{
    border:0px;
    width:130px;
    height:65px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    float: left;
    text-align: left;
}
#anything{
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    width:32.66px;
    height:65px;
    float:right;
}
