.feedContentContainer{
    border-radius: 10px;
    border: solid 1px #e3e3e3;
    display: flex;
    flex-direction: column;
    margin: 3px 0px 3px 0px;
    width: 95%;
}

.feedTitleArea{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #e3e3e3;
    width: 100%;
    justify-content: space-between;

}

.feedProfilePhoto{
    width: 30px;
    height: 30px;
    border-radius: 70%;
    margin : 0px 5px 0px 8px;
}

.feedContents{
    display: flex;
    width: 95%;
    padding: 20px 10px 20px 10px;
    flex-wrap: wrap;
}
.feedListArea{
    height: 85%;
}

.feedArea{
    overflow: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden
}

.feedControlBox{
    margin-right: 10px;
}

.feedDeleteBtn{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.feedTitleContainer{
    display: flex;
    align-items: center;
}

.createFeedImg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.feedFooter{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.feedFooterIcon{
    width: 12px;
    height: 12px;
    opacity: 0.3;
}

.feedContentsTextArea{
    border : none;
    width: 100%;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    white-space: pre-wrap;
}