/***********************************************/
/*담당자 : 김건희                                */
/*역할 : 데쉬보드 페이지에 할일 영역 커스텀           */
/***********************************************/
.todaySelectBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
#todaySelect{
    width: 97%;
    height: 100%;
    margin-right: 4px;
    outline: none;
    border: none;
    background: lightgrey;
    border-radius: 10px;
    text-indent:5px;
}
#todaySelect:after{
    width: 97%;
    height: 100%;
    margin-right: 4px;
    outline: none;
    border: none;
    background: lightgrey;
    border-radius: 10px;
    text-indent:5px;
}
#todaySelect:after:hover{
    background: rgba(235,235,235,1);
    width: 97%;
    height: 100%;
    text-indent:5px;
}
#todaySelect:hover{
    background: rgba(235,235,235,1);
    width: 97%;
    height: 100%;
    text-indent:5px;
}
#todaySelect:focus{
    background: white;
    width: 97%;
    height: 100%;
    text-indent:5px;
    border: 1px solid;
    outline: none;
    border-radius: 10px;
}
#todaySelect::-webkit-input-placeholder{
    font-size: 12px;
    text-align: center;
}
/*.scrollBox{*/
/*    overflow-y: hidden;*/
/*}*/
/*.scrollBox:hover{*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/
/*}*/

#scheduleName{
    width: 100%;
    border-bottom:1px solid rgba(205,205,205,1);
}
.todayScheduleCheckBox {
    -webkit-appearance: none;
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid rgba(235,235,235,1);
    border-radius: 10px;
    background: #fbfbfb;
}
.todayScheduleCheckBox:hover {
    border-color: rgba(170, 170, 170, 0.5);
    border-radius: 10px;
}
.todayScheduleCheckBox:checked {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 10px;
}