.todaySchedule{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid rgba(235,235,235,1);
}
.todaySchedule1 {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(235, 235, 235, 1);
}
.feed{
    width: 100%;
    height: 70%;
    display: flex;
    border: 1px solid rgba(235,235,235,1);
}

.todayScheduleTitle,.feedTitle{
    height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
}
.todaySelectBox.feedSelectContainer{
    height: 50px;
    display: flex;

    justify-content: center;
    align-items: center;
}
.todaySelectBox div,.feedSelectContainer div{
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todaySelectBox input,.feedSelectContainer input{
    height: 20px;
    width: 100%;
}
.styleBox{
    width: 100%;
    padding: 20px;
}
.styleBox1{
    width: 100%;
    padding: 5px;
}
.todayScheduleBox{
    display: flex;
    flex-direction: row;
}
