/***********************************************/
/*담당자 : 김건희                                */
/*역할 : dashboard의 왼쪽 영역 커스텀              */
/***********************************************/
.todaySchedule{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid rgba(235,235,235,1);
}
.todaySchedule1 {
    width: 60%;
    height: 100%;
    border: 1px solid rgba(235, 235, 235, 1);
}
.feed{
    width: 100%;
    height: 65%;
    display: flex;
    border: 1px solid rgba(235,235,235,1);
}
#todayScheduleBox{
    width: 95%;
}

.todayScheduleTitle{
    height: 40px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    margin-left: 4%;
}
.feedTitle{
    height: 40px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    margin-left: 5px;
}
.todaySelectBox.feedSelectContainer{
    height: 50px;
    display: flex;

    justify-content: center;
    align-items: center;
}
.todaySelectBox div,.feedSelectContainer div{
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todaySelectBox input,.feedSelectContainer input{
    height: 20px;
    width: 100%;
}
.styleBox{
    width: 100%;
    padding: 10px 20px 20px 20px;
}
.styleBox1{
    width: 100%;
    padding: 5px;
}
.todayScheduleBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.scheduleCheckBox:hover{
    background: rgba(235,235,235,1);
    border-radius: 10px;
    cursor: pointer;
}
