/**********************************/
/*      담당자 : 김건희             */
/*      역할 : header 페이지 커스텀  */
/**********************************/
/*=============== HEADER ===============*/
#headerContainer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(100,100,100,1);
    align-items: center;
    height: 80px;
    z-index: 100;
}
.headerModalbuttonContainer{
    margin-left:75px;
    display: flex;
    align-items: center;
}
#logout{
    color: black;
    justify-content: center;
    display: flex;
    width: 70px;
    height: 30px;
    border: 2px black solid;
}
.headerbutton{
    text-align: center;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}
.headerModalbuttonContainer p{
    margin-left: 20px;
}
#changeLogo{
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
}
#profilePhoto{
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    border-radius: 70px;
}
#logo{
    align-items: center;
    line-height: 50px;
    min-height: 30px;
    max-width: 200px;
    left: 20px;
}
#show{
    margin : 0 5px 0 5px;
    height: 27px;
    width: 27px;
    opacity: 100%;
    cursor: pointer;
}
#optionList{
    justify-content: center;
    padding:10%;
    background: white;
    display: none;
    flex-wrap: wrap;
    position: absolute;
    width: 150px;
    height: 260px;
    border-radius: 5px;
    z-index: 100;
    align-items: center;
    box-shadow: 1px 1px 2px 0 rgb(200,200,200,1)
}
.colorlist{
    cursor: pointer;
    margin:5px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.colorlist:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 2px 2px rgba(235,235,235,1);
}
#logout{
    margin-top:0px;
}
#bgColor{
    width: 50px;
    height: 30px;
    padding: 0;
    mix-blend-mode: overlay;    /*바탕배경색이 다른 요소와 섞이면 안됨*/
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    background:white;
}
/*입력 색상 요소에서 기본 스타일을 제거합니다. */
::-webkit-color-swatch {
    border: none;
    transition: background-color 600ms ease-out;
}
/*입력 색상 요소에서 패딩 제거합니다. */
::-webkit-color-swatch-wrapper {
    padding: 0;
}
/*입력 색상 요소의 겉테두리 없애기. */
::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}

::-moz-focus-inner {
    padding: 0;
}
p{
    color:black;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
}
ul{
    align-items: center;
    margin-top:0px;
    margin-bottom:0px;
}
.headerbutton:hover{
    font-style: oblique;
    background-color: darkgrey;
    transition: 1s;
    animation: opacity;
}
#headerUrlBox{
    z-index: 1;
    flex-direction: column;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0px;
    display: none;
    box-shadow: 2px 2px 2px 4px rgba(235,235,235,0.5);
}
.headerUrlBox{
    display: none;
}
#browse-category>#headerUrlBox::-webkit-details-marker{
    transform: rotate3d(0,0,1,90deg);
}
#browse-category[open] > #headerUrlBox::-webkit-details-marker {
    transform:rotate3d(0, 0, 1, 180deg);
}
#browse-category[open] > #headerUrlBox~*{
    animation: dropDownContainer 5s ease forwards;
}
div,a,p,span,ul,li,button,i,input{
    font-family: 'Pretendard-Regular';
}

@keyframes dropDownContainer {
    from{
        opacity: 0;
        transform : translate3d(0,-100%,0) ;
        visibility: visible;
    }
    to{
        opacity: 1;
        transform : translate3d(0,0%,0) ;
        visibility: visible;
    }
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSGyeoulNoonkott20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HSGyeoulNoonkott20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p{
    font-family: Pretendard-Regular ;
}
#logoutImage{
    width: 30px;
    height: 30px;
}
#headerUserBox{
    display: flex;
    margin-right: 3%;
}
#userInfo{
    margin-left: 8px;
    margin-right: 8px;
}

#browse-category{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor:pointer;
    margin-right: 65px;
}
#browse-category:hover{
    background-color: grey;
}
#dropDownArrow{
    width: 25px;
}
#movePageText img{
    width: 50px;
    height: 50px;
}