/*=============== HEADER ===============*/
#headerContainer{
    display: flex;
    justify-content: space-between;
    /*background-color: white;*/
    align-items: center;
    height: 80px;
    z-index: 100;
}
.headerModalbuttonContainer{
    margin-left:75px;
    display: flex;
    align-items: center;

}
#logout{
    color: black;
    justify-content: center;
    display: flex;
    width: 70px;
    height: 30px;
    border: 2px black solid;
}
.headerbutton{
    text-align: center;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}
.headerModalbuttonContainer p{
    margin-left: 20px;
}
#changeLogo{
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
}
#profilePhoto{
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
    width: 30px;
}
#logo{
    align-items: center;
    max-height: 50px;
    max-width: 200px;
    left: 20px;
}
#show{
    margin-right: -8%;
    height: 27px;
    width: 27px;
    position: absolute;
    right:12%;
    opacity: 100%;
}
#logout{
    margin-top:0px;
}
#color{
    width: 50px;
    height: 30px;
    margin-bottom: 5px;
    padding: 0;
    mix-blend-mode: overlay;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}
/* removes default styling from input color element */
::-webkit-color-swatch {
    border: none;
    transition: background-color 600ms ease-out;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}

::-moz-focus-inner {
    padding: 0;
}
p{
    color:black;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
}
ul{
    align-items: center;
    margin-top:0px;
    margin-bottom:0px;
}
.headerbutton:hover{
    font-style: oblique;
    background-color: darkgrey;
    transition: 1s;
    animation: opacity;
}
#headerUrlBox{
    z-index: 1;
    flex-direction: column;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0px;
    display: none;
    box-shadow: 2px 2px 2px 4px rgba(235,235,235,0.5);
}
.headerUrlBox{
    display: none;
}
/*#headerUrlBox:after{*/
/*    content:"";*/
/*    position: absolute;*/
/*    top: -20px;*/
/*    right: 90px;*/
/*    border-left: 10px solid transparent;*/
/*    border-right: 10px solid transparent;*/
/*    border-bottom: 20px solid white;*/
/*}*/
#browse-category>#headerUrlBox::-webkit-details-marker{
    transform: rotate3d(0,0,1,90deg);
}
#browse-category[open] > #headerUrlBox::-webkit-details-marker {
    transform:rotate3d(0, 0, 1, 180deg);
}
#browse-category[open] > #headerUrlBox~*{
    animation: dropDownContainer 5s ease forwards;
}
div,a,p,span,ul,li,button,i,input{
    font-family: 'Pretendard-Regular';
}

@keyframes dropDownContainer {
    from{
        opacity: 0;
        transform : translate3d(0,-100%,0) ;
        visibility: visible;
    }
    to{
        opacity: 1;
        transform : translate3d(0,0%,0) ;
        visibility: visible;
    }
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSGyeoulNoonkott20';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HSGyeoulNoonkott20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p{
    font-family: Pretendard-Regular ;
}
#logoutImage{
    width: 30px;
    height: 30px;
}
#headerUserBox{
    display: flex;
    margin-right: 3%;
}
#userInfo{
    margin-left: 8px;
    margin-right: 8px;
}

#browse-category{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor:pointer;
    margin-right: 65px;
}
#browse-category:hover{
    background-color: grey;
}
#dropDownArrow{
    width: 25px;
}
#movePageText img{
    width: 50px;
    height: 50px;
}