<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
<link url="../stylesheets/dashboardPage/chart/chartScreen.css" rel="stylesheet"/>
<h3 class="text-primary text-center">
    Morris js charts
</h3>
<div class="row">
    <canvas id="pieChartCanvas" style="width: 300px; height:300px"></canvas>
    <div id='legend-div' class="legend-div"></div>
</div>
<script src="../javascripts/chart/chartScreen.js"></script>