<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../javascripts/dashboard/pieChart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<link rel="stylesheet" href="/stylesheets/dashboardPage/dashboardChart/dashboardPieChart.css">

<div class="tagStatisticsGroup">
    <div class="successStatisticsTitle">완료 그래프</div>
    <div class="dashboardPaintPieChart" id="dashboardPaintPieChart">
        <canvas id="doughnutChart" style="height: 15vh; width: 15vw; margin: 0 auto;"></canvas>
        <div class="dashboard-div-legend" id="dashboard-div-legend"></div>
    </div>
</div>
