<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="../javascripts/dashboard/pieChart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<link rel="stylesheet" href="/stylesheets/dashboardPage/dashboardChart/dashboardPieChart.css">

<div class="tagStatisticsGroup">
    <div class="successStatisticsTitle">완료율</div>
    <div class="dashboardPaintPieChart" id="dashboardPaintPieChart">
        <canvas id="doughnutChart" style="height: 70%; width: 100%; margin: 0 auto;"></canvas>
    </div>
</div>
