<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="/stylesheets/dashboardPage/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<header>
    <%- include('../layout/header.ejs'); %>
</header>
<div id="indexWrap" class="container">
    <div id="indexLeft" class="mainIndex">
        <%- include('./chartScreen') %>
    </div>
    <div id="indexRight" class="mainIndex">
        <button id="newSchedule" onclick="scheduleModalOpen()">새로운 일정 추가</button>
        <%- include('./scheduleScreen.ejs') %>
    </div>
</div>

<%- include('../schedule/scheduleModal.ejs')%>


</body>
</html>