<div class="feed">
    <div class="styleBox">
        <div class="feedTitleContainer"><img><div class="feedTitle">피드</div></div>
        <div class="feedSelectContainer"><input type="text" id="feedSelectContent"><div onclick="createFeed();">확인</div></div>

        <div id="feedContentContainer"><div><img id="feedUserImage"><span id="feedContent">내용</span><div id="feedDate">날짜가 들어감</div></div></div>
    </div>
</div>

<script src="../javascripts/dashboard/feed.js"></script>