<link rel="stylesheet" href="/stylesheets/dashboardPage/totalScheduleArea/totalScheduleArea.css">

<div class="todaySchedule1">
    <div class="styleBox1">
    <div class="todayScheduleTitle"> 할 일 </div>
        <div class="todaySelectBox"><form style="height: 28px; margin-right: 8px;"><input type="text" id="todaySelect" onchange="focusOut();" placeholder="메모할 일정을 적어주세요."></form><div class="btn-secondary" onclick="createTodoList();">확인</div></div>
<div class="scrollBox" style="display: flex;margin-top: 5px; flex-direction: column; width: 95%; height: 155px; max-height: 80%">
    <div id="todayScheduleBox" >
        <%todoLists.map((t) => {%>
        <div id="<%= t._id %>" class="scheduleCheckBox" style="display: flex;">
            <input type="checkbox" class="todayScheduleCheckBox" onclick="todayCheckbox('<%= t._id %>', this)">
            <div id="scheduleName"><%= t.todoListVal %></div>
            </div>
        <%})%>
    </div>
</div>
    </div>
</div>

<script src="../javascripts/dashboard/todoList.js"></script>