<link rel="stylesheet" href="/stylesheets/dashboardPage/totalScheduleArea/totalScheduleArea.css">

<div class="todaySchedule1">
    <div class="styleBox1">
    <div class="todayScheduleTitle"> 할 일 </div>
    <div class="todaySelectBox"><input type="text" id="todaySelect"><div class="btn-secondary" onclick="createTodoList();">확인</div></div>
<div style="display: flex;flex-direction: column">
    <div id="todayScheduleBox">

    </div>
</div>
    </div>
</div>

<script src="../javascripts/dashboard/todoList.js"></script>