<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link   rel="stylesheet" href="/stylesheets/header.css"/>
    <script defer src='javascripts/header.js'></script>
</head>
<body>
<div class="header">
    <div id="headerContainer" class="container">
        <img id="logo" src="../../images/heventreelogo.png"/>
        <ul>
            <a href="#" type="button" id="scaduleAdd">
                <p>SceduleCreate</p>
            </a>
            <a href="#" type="button" id="Calendar">
                <p>Calendar</p>
            </a>
            <a href="#" type="button" id="Dashboard">
                <p>Dashboard</p>
            </a>
            <a href="#" type="button" id="TagStatistics">
                <p>TagStatistics</p>
            </a>
        </ul>
        <ul>
            <% if(user.provider==="naver"){%>
            <img id="changeLogo" src="../../images/btnG_아이콘원형.png"/>
            <%} else if(user.provider==="kakao"){%>
                <img id="changeLogo" src="../../images/kakao_logo.png"/>
                <%}%>
            <img id="profilePhoto" src="<%=user.profilePhoto%>"/>
            <p id="userInfo"><%=user.name%></p>
            <a href="/login/logout" id="logout" type="button" ><p>logout</p></a>
            <input id="color" type="color" list="colors" onchange="colorChange()" value="#fff">
                <img id="show" src="../../images/paintblack.png"/>
            </input>
        </ul>
    </div>
</div>
</body>
</html>