<script defer src='javascripts/header.js'></script>
<div id="modal-bg" class="modal-bg"></div>
<div id="modal-wrap" class="modal-wrap">
    <input id="color" type="color">
    <button id="changeColor" onclick="colorChange();">변경</button>
    <button id="modal-close" class="modal-close" onclick="closed()">확인</button>
</div>
