<link rel="stylesheet" href="/stylesheets/layout/header.css"/>
<script defer src='javascripts/layout/header.js'></script>
<div class="header">
    <div id="headerContainer" class="headercontainer" style="background-color: <%= user.navBgColor %>">
        <div id="browse-category" onclick="movePageModal()">
            <div id="movePageText">
                <img id="hamburgerToggle" src="images/layoutHeader/hamburgerblack.png"/>
            </div>
        </div>
        <%- include("movePageModal") %>
        <a href="/"><img id="logo" onclick="logo();" class="headerbutton" src="../../images/layoutHeader/cat-1423_512.gif"/></a>
        <ul id="headerUserBox">
            <% if(user.provider === "naver"){ %>
                <img id="changeLogo" src="../../images/layoutHeader/btnG_아이콘원형.png"/>
            <% } else if(user.provider === "kakao"){ %>
                <img id="changeLogo" src="../../images/layoutHeader/kakao_logo.png"/>
            <% } %>
            <img id="profilePhoto" src="<%= user.profilePhoto %>"/>
            <p id="userInfo"><%= user.name %></p>
            <div style="position: relative;">
                <label for="color"><img id="show" src="../../images/layoutHeader/painterBlack.png"/></label>
                <input list="presets" id="color" type="color" onchange="colorChange()" value="#ffffff">
                <datalist id="presets" style="margin-top: 1px">
                    <option>#f9f9f9</option>
                    <option>#ffe1e1</option>
                    <option>#ffdaca</option>
                    <option>#e8e2d5</option>
                    <option>#d3eaf7</option>
                    <option>#d9f1e9</option>
                    <option>#ffb1b1</option>
                    <option>#ffca96</option>
                    <option>#ffe398</option>
                    <option>#a5dac5</option>
                    <option>#add2e7</option>
                    <option>#505d72</option>
                    <option>#4c7465</option>
                    <option>#4c4f50</option>
                </datalist>
            </div>
            <a href="/login/logout" id="logout" class="headerbutton" type="button">LogOut</a>
        </ul>

    </div>
</div>