<link   rel="stylesheet" href="/stylesheets/layout/header.css"/>
<script defer src='javascripts/layout/header.js'></script>
<div class="header">
    <div id="headerContainer" class="headercontainer" style="background-color: <%=user.navBgColor%>">
        <div id="browse-category" onclick="movePageModal()">
            <div id="movePageText">
                <img id="hamburgerToggle" src="images/layoutHeader/hamburgerblack.png"/>
            </div>
        </div>
        <%- include("movePageModal") %>
        <a href="/"><img id="logo" onclick="logo();" class="headerbutton" src="../../images/layoutHeader/heaventreeLogo.png"/></a>
        <ul id="headerUserBox">
            <% if(user.provider==="naver"){%>
            <img id="changeLogo" src="../../images/layoutHeader/btnG_아이콘원형.png"/>
            <%} else if(user.provider==="kakao"){%>
                <img id="changeLogo" src="../../images/layoutHeader/kakao_logo.png"/>
                <%}%>
            <img id="profilePhoto" src="<%=user.profilePhoto%>"/>
            <p id="userInfo"><%=user.name%></p>
                <a href="/login/logout" id="logout" class="headerbutton" type="button"  ><img id="logoutImage" src="../../images/layoutHeader/logoutBlack.png"/></a>
            <input id="color" type="color" list="presets" onchange="colorChange()" value="#fff">
                <datalist id="presets">
                    <option value="#f9f9f9"></option>
                    <option value="#ffe1e1"></option>
                    <option value="#ffdaca"></option>
                    <option value="#e8e2d5"></option>
                    <option value="#d3eaf7"></option>
                    <option value="#d9f1e9"></option>
                    <option value="#ffb1b1"></option>
                    <option value="#ffca96"></option>
                    <option value="#ffe398"></option>
                    <option value="#a5dac5"></option>
                    <option value="#add2e7"></option>
                    <option value="#505d72"></option>
                    <option value="#4c7465"></option>
                    <option value="#4c4f50"></option>
                </datalist>
                <img id="show" src="../../images/layoutHeader/paintblack.png"/>
            </input>
        </ul>
    </div>
</div>
