<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link   rel="stylesheet" href="/stylesheets/layout/header.css"/>
    <script defer src='javascripts/layout/header.js'></script>
</head>
<body>
<div class="header">
    <div id="headerContainer" class="headercontainer" style="background-color: <%=user.navBgColor%>">
        <div id="browse-category" onclick="movePageModal();">
            Browse Category
            <svg id="dropDownArrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
                <path d="M6 9l6 6 6-6" /></svg>
        </div>
        <%- include("movePageModal") %>
<!--        <ul id="headerUrlBox">-->
<!--            <a href="/calendar" class="headerbutton" type="button" onclick="moveCalendar();" id="Calendar">-->
<!--                <p>Calendar</p>-->
<!--            </a>-->
<!--            <a href="/" class="headerbutton" type="button" onclick="Dashboard();" id="Dashboard">-->
<!--                <p>Dashboard</p>-->
<!--            </a>-->
<!--            <a href="#" class="headerbutton" type="button" onclick="TagStatistics();" id="TagStatistics">-->
<!--                <p>TagStatistics</p>-->
<!--            </a>-->
<!--        </ul>-->
        <a href="/"><img id="logo" onclick="logo();" class="headerbutton" src="../../images/layoutHeader/heventreelogo.png"/></a>
        <ul id="headerUserBox">
            <% if(user.provider==="naver"){%>
            <img id="changeLogo" src="../../images/layoutHeader/btnG_아이콘원형.png"/>
            <%} else if(user.provider==="kakao"){%>
                <img id="changeLogo" src="../../images/layoutHeader/kakao_logo.png"/>
                <%}%>
            <img id="profilePhoto" src="<%=user.profilePhoto%>"/>
            <p id="userInfo"><%=user.name%></p>
                <a href="/login/logout" id="logout" class="headerbutton" type="button"  ><img id="logoutImage" src="../../images/layoutHeader/logoutBlack.png"/></a>
            <input id="color" type="color" list="presets" onchange="colorChange()" value="#fff">
                <datalist id="presets">
                    <option value="#C8707E"></option>
                    <option value="#E28FAD"></option>
                    <option value="#EF84C1"></option>
                    <option value="#E48ES8"></option>
                    <option value="#EDAA7D"></option>
                    <option value="#5AA08D"></option>
                    <option value="#4C92B1"></option>
                    <option value="#A8C879"></option>
                    <option value="#AC99C1"></option>
                    <option value="#96B1D0"></option>
                    <option value="#C8C2BD"></option>
                </datalist>
                <img id="show" src="../../images/layoutHeader/paintblack.png"/>
            </input>
        </ul>
    </div>
</div>
</body>
</html>