<!--
    담당자 : 김건희
    기능 : 각 페이지로 이동하기 위한 페이지 선택 모달생성
-->
<div id="headerUrlBox" class="headerUrlBox">
    <a href="/" class="headerbutton" type="button" onclick="Dashboard();" id="Dashboard">
        <div class="headerModalbuttonContainer"><img src="images/layoutHeader/dashboard.png" style="display:flex; flex-direction: row; width: 25px; height: 25px;"><p>Dashboard</p></div>
    </a>
    <a href="/calendar" class="headerbutton" type="button" onclick="moveCalendar();" id="Calendar" >
        <div class="headerModalbuttonContainer"><img src="images/layoutHeader/calendar.png" style="display:flex; flex-direction: row; width: 25px; height: 25px;"><p>Calendar</p></div>
    </a>
    <a href="/tagStatistics" class="headerbutton" type="button" onclick="TagStatistics();" id="TagStatistics">
        <div class="headerModalbuttonContainer"><img src="images/layoutHeader/tagStaticsIcon.png" style="display:flex; flex-direction: row; width: 25px; height: 25px;"><p>TagStatistics</p></div>
    </a>
    <a href="/feed" class="headerbutton" type="button" onclick="TagStatistics();" id="TagStatistics">
        <div class="headerModalbuttonContainer"><img src="images/layoutHeader/feed.png" style="display:flex; flex-direction: row; width: 25px; height: 25px;"><p>Feed</p></div>
    </a>
</div>