<div id="headerUrlBox">
    <a href="/calendar" class="headerbutton" type="button" onclick="moveCalendar();" id="Calendar" >
        <p>Calendar</p>
    </a>
    <a href="/" class="headerbutton" type="button" onclick="Dashboard();" id="Dashboard">
        <p>Dashboard</p>
    </a>
    <a href="/tagStatistics" class="headerbutton" type="button" onclick="TagStatistics();" id="TagStatistics">
        <p>TagStatistics</p>
    </a>
</div>