/*
    담당자 : 강재민
    역할 : 일정 생성 모달 태그 자동완성 CSS
*/

.autoCompleteModal {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
}
.autoCompleteModal.show {
    display: block;
}

.autoCompleteModalBody {
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -95px;
    left: 65px;
    width: 150px;
    height: 200px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}

.autoCompleteModalTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    border-bottom: solid 1px #e3e3e3;
}

.autoCompleteModalBottom{
    font-size: 12px;
    padding-left: 0;
    overflow: auto;
}

.autoCompleteLi{
    background-color: #A9E1ED;
    margin : 4px;
    list-style: none;
    cursor: pointer;
}

.autoCompleteModalCloseBtn{
    width : 15px;
    height: 15px;
    cursor: pointer;
}