.scheduleModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.scheduleModal.show {
    display: block;
}

.scheduleModalBody {
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 500px;
    padding: 40px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}

.scheduleModalTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: solid 1px #e3e3e3;
}

.scheduleModalPartition{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.scheduleModalContents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.scheduleModalInput{
    width: 100%;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

.tagListArea{
    width: 100%;
    height: 75px;
    border: 1px lightgray solid;
    display : flex;
    flex-wrap: wrap;
    overflow: auto;
    word-break: break-word;
}

.tagList{
    display: flex;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
}

.tags{
    display: flex;
    height: 15px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.tags:hover .deleteTag{
    display: block;
}

.tagInput{
    width: 50%;
    height: 15px;
    border: none;
    outline: none;
}

.tagSpan {
    background-color: lightgray;
    height: 15px;
    font-size: 12px;
    padding : 2px;
}

.deleteTag{
    width: 12px;
    height: 12px;
    margin-left: 3px;
    cursor: pointer;
    display: none;
}

.mapArea{
    width: 80%;
    height: 80%;
    display: none;
    margin-left: 30px;
}

.scheduleCompleteBtnArea{
    display: flex;
    justify-content: center;
}

.deleteTag{
    border : none;
}
body{
    margin:0px;
    padding: 0px;
}
#hurryup {
    background-color: rgba(255,0,0,0.5);
}

.modalCloseBtn{
    width: 28px;
    height: 28px;
    cursor: pointer;
}
#high{
    background-color: rgba(255,165,0,0.5);
}
#normal{
    background-color: rgba(255,255,0,0.5);
}
#low{
    background-color: rgba(0,0,255,0.5);
}
#laze{
    background-color: rgba(0,255,0,0.5);
}

