.legend-div {
    position: absolute;
    top: 62px;
    left: 320px;
}

.legend-div ul li {
    margin: 10px 0;
    color: #666;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.legend-div ul li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}