
<div class="autoCompleteModal" id="autoCompleteModal">
    <div class="autoCompleteModalBody" id="autoCompleteModalBody">
        <div class="autoCompleteModalTop">
            <h5>태그</h5>
            <button onclick="autoCompleteModalClose()">x</button>
        </div>
        <ul class="autoCompleteModalBottom">

        </ul>
    </div>
</div>