<!--
    담당자 : 강재민
    파일설명 : 일정 생성 모달의 태그 자동완성 모달
-->
<div class="autoCompleteModal" id="autoCompleteModal">
    <div class="autoCompleteModalBody" id="autoCompleteModalBody">
        <div class="autoCompleteModalTop">
            <h5>태그</h5>
            <img src="/images/category/close_bg_none.png" class="autoCompleteModalCloseBtn" onclick="autoCompleteModalClose()">
        </div>
        <ul class="autoCompleteModalBottom">

        </ul>
    </div>
</div>