
<div class="autoCompleteModal" id="autoCompleteModal">
    <div class="autoCompleteModalBody" id="autoCompleteModalBody">
        <div class="autoCompleteModalTop">
            <h5>태그</h5>
            <img src="/images/close_bg_none.png" class="autoCompleteModalCloseBtn" onclick="autoCompleteModalClose()">
        </div>
        <ul class="autoCompleteModalBottom">

        </ul>
    </div>
</div>