<!--
    담당자 : 강재민
    파일설명 : 일정 생성 모달의 카카오 맵 영역
-->
<div class="map_wrap" style="height: 86%; width: 100%;">
    <div id="map" style="width:100%;height:100%; border-radius: 20px;"></div>

    <div id="menu_wrap" class="bg_white" >
        <div class="option">
            <div>
                <form onsubmit="searchPlaces(); return false;">
                    키워드 : <input type="text" value="" id="keyword" size="15">
                    <button type="submit">검색하기</button>
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
</div>



