<link rel="stylesheet" href="/stylesheets/scheduleModal.css">
<link rel="stylesheet" href="/stylesheets/autoCompleteModal.css">
<link rel="stylesheet" href="/stylesheets/kakaomap.css">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ee3f54e79d473881157156f79ed09cf8&libraries=services"></script>
<script defer src='javascripts/schedule/kakaomap.js'></script>
<script defer src='javascripts/schedule/scheduleModal.js'></script>

<div class="scheduleModal" id="scheduleModal">
    <div class="scheduleModalBody" id="scheduleModalBody">
        <div class="scheduleModalTitle" id="scheduleModalTitle">
            <h2>새로운 일정 등록</h2>
            <img src="/images/close_bg_none.png" class="modalCloseBtn" onclick="scheduleModalClose()">
        </div>

        <div class="scheduleModalContents" id="scheduleModalContents">
            <label class="scheduleModalLabel">제목 <input class="scheduleModalInput" type="text" id="scheduleTitle"></label>
            <label class="scheduleModalLabel">내용 <input class="scheduleModalInput" type="text" id="contents"></label>
            <label class="scheduleModalLabel">시작일 <input class="scheduleModalInput" type="datetime-local" id="startDate"></label>
            <label class="scheduleModalLabel">마감일 <input class="scheduleModalInput" type="datetime-local" id="endDate"></label>
            <label class="scheduleModalLabel">우선순위 <select class="scheduleModalInput" id="priority">
                <option id="hurryup" value="5" ><option></optoin>아주 높음</option>
                <option id="high" value="4">높음</option>
                <option id="normal" value="3">보통</option>
                <option id="low" value="2">낮음</option>
                <option id="laze" value="1" selected>매우 낮음</option>

                </select></label>
            <label class="scheduleModalLabel">태그</label>
            <%- include('./autoCompleteModal.ejs')%>
            <div class="tagListArea" id="tagListArea">
                <div class="tagList" id="tagList">

                </div>
                <div class="tagInputDiv" id="tagInputDiv">
                    <input type="text" class="tagInput" id="tagInput" placeholder="#해시태그" oninput="autoComplete(this)">
                </div>
            </div>
            <label class="scheduleModalLabel"><input type="checkbox" id="addressExist" onchange="useAddress(this)">주소 입력 하기</label>
        </div>
        <div class="mapArea" id="mapArea">
            <input class="scheduleModalInput" type="text" readonly id="address" placeholder="입력한 주소가 표시됩니다."></p>
            <%- include('./kakaomap.ejs')%>
        </div>
        <div>
            <button onclick="saveSchedule()">완료</button>
            <button id="scheduleModalClosed" onclick="scheduleModalClose()">취소</button>
        </div>
    </div>
</div>