<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/CategoryCalendar.css"/>
</head>
<body>
<header>
    <%- include('partials/header.ejs'); %>
</header>
<div id="indexWrap" class="container">
    <div id="indexLeft" class="mainIndex">
        <div id="movecategory" onclick="categoryModal();">C</div>
        <%- include('dashboard.ejs'); %>
    </div>
    <div id="indexRight" class="mainIndex">
        <%- include('calender.ejs'); %>
    </div>
</div>
</body>
</html>