<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="indexWrap" class="container">
    <div id="indexLeft" class="mainIndex">
        <%- include('dashboard.ejs'); %>
    </div>
    <div id="indexRight" class="mainIndex">
        <%- include('calender.ejs'); %>
    </div>
</div>
</body>
</html>