<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/scheduleModal.css">
    <script defer src='javascripts/schedule/scheduleModal.js'></script>
</head>
<body>
<div id="title" >Scedular</div>
<%- include('./partials/header.ejs')%>
<button id="newSchedule" onclick="scheduleModalOpen()">새로운 일정 추가</button>
<% for(var i=0; i<5; i++) {%>
<div id="container">
    <div id="update_date">
        1002
        <div id="scadule">
            ㅁ나ㅓㅇㄹㄴ
            <div id ="anything">
                <input type="button" id="edit" value="수정">
                <input type="button" id="delete" value="삭제">
            </div>
        </div>
    </div>
</div>
<%}%>
<%- include('./schedule/scheduleModal.ejs')%>
</body>
</html>