<script defer src="javascripts/category/categorychildModal1.js"/>
<div id="categoryRootbg">
    <div id="categoryTitle">Category</div>
    <div id="shareobject" onclick="movechildModal1();">
        <p>부모루트</p>
    </div>
</div>