<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<div id="container" style="width: 100%; height:100%;" >
    <div id="login_API" style="align-content: center">
        <div id="kakao_API" src="" onclick="KakaoLogin">
            <a href="/login/kakao"><img src="../images/login/kakao_login_medium_narrow.png"/></a>
        </div>
        <div id="naver_API" src="" onclick="NaverLogin">
            <a href="/login/naver"><img src="../images/login/btnG_완성형.png"/></a>
        </div>
    </div>
</div>

<script ></script>

</body>
</html>