/**********************************/
/*      담당자 : 김건희             */
/*역할 : tagStatistics 페이지 커스텀 */
/**********************************/

/* tagStatistics 페이지 body 스크롤 커스텀*/
#replaceBody{
    overflow: auto;
    overflow-x: hidden;
}

#replaceBody::-webkit-scrollbar{
    width: 7px;
}
#replaceBody::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #bfbfbf;
}
#replaceBody::-webkit-scrollbar-track {
    background-color: #e5e5e5;
    border-radius: 5px;
}
/* tagStatistics 왼쪽 영역의 차트 영역 커스텀*/
.tagStatisticsGroup{
    padding: 20px 0 0 0;
    padding: 8px;
    height: 50%;
    border-bottom: 1px solid rgba(235,235,235,1);
}
.tagStatisticsTitle{
    text-align: center;
    box-shadow: 0 1px rgba(235,235,235,1);
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 25px;
}
.totalScheduleGroupBox{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.paintPieChart{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.div-legend{
    margin-left: 30px;
}

.legendColor{
    width: 12px;
    height: 12px;
    border-radius: 70%;
    margin-right: 5px;
}

.legendComponent {
    margin-bottom: 5px;
    display: flex;
    cursor: pointer;
}
.legendComponent span{
    white-space: nowrap;
}
/*.scrollBox{*/
/*    overflow: hidden;*/
/*}*/
/*.scrollBox:hover{*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto;*/
/*}*/
#paintBarChart{
    width: 100%;
    height: 300px;
    justify-content: center;
    display: flex;
}
/* tagStatistics 오른쪽 일정여역의 초기화 버튼 커스텀*/
#resetBtn{
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
#resetBtn:hover{
    background-color: lightgrey;
}
#resetBtn:hover img{
    transition: 1s;
    transform: rotate(-360deg);
}