html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

#indexWrap{
    padding: 0 20px 0 20px;
    display: flex;
    height: 100%;
}
#indexTop{
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(235, 235, 235, 1);
}
#indexLeft{
    padding-right: 10px;
    height: 83%;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-position: left;
    min-width: 300px;
    animation: slidedrop 1s ease forwards;
}
@keyframes slidedrop {
    0%{
        transform : translate3d(0,-100%,0) ;
        visibility: visible;
        z-index: -100;
    }
    99%{
        transform : translate3d(0,-1%,0) ;
        visibility: visible;
        z-index: -100;
    }
    100%{
        transform : translate3d(0,0,0) ;
    }
}
#indexRight{
    padding-left:10px;
    width:60%;
    background-position: right;
    right: 0px;
    animation: slideright 1s ease forwards;
    height: 93%;
}
@keyframes slideright {
    0%{
        transform : translate3d(100%,0,0) ;
        visibility: visible;
        z-index: -200;
    }
    100%{
        transform : translate3d(0,0,0) ;
    }
}
.countContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
    /*box-shadow: -2px 0 0 0 rgba(235,235,235,1);*/
}
.countContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px 0 10px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: rgba(235,235,235,0.2);
    font-size: 16px;
    font-weight: 600;
}
#scheduleAllCount{
    margin-top:5px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235,235,235,0.2);
}
#usedTagAllCount{
    margin-top:5px;

    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235,235,235,0.2);
}
#usedTagKindCount{
    margin-top:5px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235,235,235,0.2);
}

.completeImg {
    width: 15px;
    height: 15px;
}

.totalScheduleHeader1{
    width: 195px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.totalScheduleHeader2{
    width: 195px;
    height: 20px;
    text-align: center;
    font-size: 14px;
}
.totalScheduleContents{
    overflow: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.totalScheduleContentsGroup{
    overflow: auto;
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
}
.totalScheduleContentsGroup:hover{
    background-color: lightgrey;
    transform: scale(0.98);
    height: 30px;
    margin: 0;
    align-items: center;
}