<div class="dayClickModalBG" id="dayClickModalBG"></div>
<div class="dayClickModalBody" id="dayClickModalBody">
    <div class="dayModalBody" id="dayModalBody">
        <div class="dayModalTitle" id="dayModalTitle">
            <h2>해당 일자 일정 목록</h2>
            <button id="dayModalClose">X</button>
        </div>
        <div id="scheduleList">
            <th>
                <div id="titleSort" onclick="titleSort();">제목</div>
            </th>
            <th>
                <div id="startDaySort" onclick="startDaySort();">시작일</div>
            </th>
            <th>
                <div id="endDaySort" onclick="endDaySort();">종료일</div>
            </th>
            <table>
            </table>
        </div>
        <div id="dayModalButton">
            <button id="editSchedule">편집</button>
            <button id="dayModalClose">취소</button>
        </div>
    </div>
</div>