
<div class="dayClickModalBG" id="dayClickModalBG"></div>
<div class="dayClickModalBody" id="dayClickModalBody">
    <div class="dayModalBody" id="dayModalBody">
        <div class="dayModalTitle" id="dayModalTitle">
            <h2>해당 일자 일정 목록</h2>
            <button id="dayModalClose" onclick="dayModalClosed();">X</button>
        </div>
        <div id="scheduleList">
            <table>
            <thead>
            <th onclick="tableSort(0)">제목
            </th>
            <th>
                <div onclick="tableSort(1);">시작일</div>
            </th>
            <th>
                <div onclick="tableSort(2);">종료일</div>
            </th>
            <th>
                <div >작성자</div>
            </th>
            </thead>

            <tbody id="scheduleTableBody">

            </tbody>
            </table>

        </div>
<!--        <div id="dayModalButton">-->
<!--            <button id="editSchedule">편집</button>-->
<!--            <button id="dayModalClosed" onclick="dayModalClosed();">취소</button>-->
<!--        </div>-->
    </div>
</div>
