<div class="dayClickModalBG" id="dayClickModalBG"></div>
<div class="dayClickModalBody" id="dayClickModalBody">
    <div class="dayModalBody" id="dayModalBody">
        <div class="dayModalTitle" id="dayModalTitle">
            <h2>해당 일자 일정 목록</h2>
            <button onclick="dayModalClose()">X</button>
        </div>
        <div id="scheduleList">
            <th>
                <td>
                    <tr id="title">제목</tr>
                    <tr id="startDay">시작일</tr>
                    <tr id="endDay">종료일</tr>
                </td>
                <td>
                    <tr id="title">제목</tr>
                    <tr id="startDay">시작일</tr>
                    <tr id="endDay">종료일</tr>
                </td>
            </th>

        </div>
        <div>
            <button id="editSchedule">편집</button>
            <button id="dayModalClose">취소</button>
        </div>
    </div>
</div>