<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/calendarPage/calendar/calendar.css"/>
    <link href='stylesheets/calendarPage/calendar/fullCalendar.css' rel='stylesheet' />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
    <script src='javascripts/calendar/fullCalendar.js'></script>
    <script defer src="javascripts/schedule/scheduleEdit.js"></script>
    <script defer src="javascripts/calendar/dayClickModal.js"></script>
</head>
<body>
<script src="javascripts/calendar/calendar.js"></script>
<div id='calendar'></div>
<div>
<%- include('../calendar/dayClickModal.ejs')%>
</div>
<div>

</div>

</body>
</html>