<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/category.css"/>
    <link rel="stylesheet" href="/stylesheets/chooseSharer.css"/>
</head>
<body>
    <div id="categoryButtonContainer">
        <div id="categoryAdd" onclick="newCategoryModalOpen();">카테고리 생성</div>
    </div>
<div id="categoryContainer">
    <div id="shareobject" onclick="movechildModal1();">
        <p>부모루트</p>
        <div id="tagGroup">
            <span>#asdf</span><span>#asdf</span><span>#asdf</span><span>#asdf</span><span>#asdf</span><span>#asdf</span><span>#asdf</span><span>#asdf</span><span>#asdf</span>
        </div>

        <div id="providerGroup">강재민</div>
    </div>
    <div id="editDeletePlace">
        <div id="categoryEdit" onclick="categoryedit();">수정</div>
        <div id="categoryDelet" onclick="categorydelet();">삭제</div>
    </div>
</div>
</body>
</html>