<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/category.css"/>
</head>
<body>
<div id="categoryContainer">
    <div id="shareobject" onclick="movechildModal1();">
        <p>부모루트</p>
    </div>
    <div id="editDeletePlace">
        <div id="categoryEdit" onclick="categoryedit();">수정</div>
        <div id="categoryDelet" onclick="categorydelet();">삭제</div>
    </div>
</div>
<script src="javascripts/category/categoryAdd.js"></script>
</body>
</html>