<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/category.css"/>
</head>
<body>


    <div>
        <p>
            카테고리 전체 리스트
        </p>
    </div>
<script src="javascripts/category/categoryAdd.js"></script>
</body>
</html>