<!--
    담당자 : 김건희
    역할  : 사용자에게 캘린더 영역의 날짜 클릭시 그 날짜에 해당하는 모든 일정을 보여줌
    기능  : 1. 일정 리스트 클릭시 상세페이지로 이동
-->
<div class="dayClickModalBG" id="dayClickModalBG"></div>
<div class="dayClickModalBody" id="dayClickModalBody">
    <div class="dayModalBody" id="dayModalBody">
        <div class="dayModalTitle" id="dayModalTitle">
            <h2 style="margin: 0;">해당 일자 일정 목록</h2>
            <img id="dayModalClose" src="/images/category/close_bg_none.png" onclick="dayModalClosed();"/>
        </div>
        <div id="scheduleList">
            <table id="dayClickModalTable">
                <thead>
                    <tr>
                        <th scope="col" onclick="tableSort(0)">제목</th>
                        <th scope="col" onclick="tableSort(1);">시작일</th>
                        <th scope="col" onclick="tableSort(2);">종료일</th>
                        <th scope="col" onclick="tableSort(3);">작성자</th>
                    </tr>
                </thead>
                <tbody id="scheduleTableBody">

                </tbody>
            </table>
        </div>
    </div>
</div>
