<div class="dayClickModalBG" id="dayClickModalBG"></div>
<div class="dayClickModalBody" id="dayClickModalBody">
    <div class="dayModalBody" id="dayModalBody">
        <div class="dayModalTitle" id="dayModalTitle">
            <h2>해당 일자 일정 목록</h2>
            <img id="dayModalClose" src="/images/category/close_bg_none.png" onclick="dayModalClosed();"/>
        </div>
        <div id="scheduleList">
            <table id="dayClickModalTable">
                <thead>
                    <tr>
                        <th scope="col" onclick="tableSort(0)">제목</th>
                        <th scope="col" onclick="tableSort(1);">시작일</th>
                        <th scope="col" onclick="tableSort(2);">종료일</th>
                        <th scope="col" onclick="tableSort(3);">작성자</th>
                    </tr>
                </thead>
                <tbody id="scheduleTableBody">

                </tbody>
            </table>
        </div>
<!--        <div id="dayModalButton">-->
<!--            <button id="editSchedule">편집</button>-->
<!--            <button id="dayModalClosed" onclick="dayModalClosed();">취소</button>-->
<!--        </div>-->
    </div>
</div>
