/* 일요일 날짜 빨간색 */
.fc-day-sun a {
    color: red;
    text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
    color: blue;
    text-decoration: none;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
}
#movemodal{
    border-style: solid;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 10;
    bottom: 30%;
    border-radius: 10px 10px 10px 10px;
}
#categoryRootbg{
    position: fixed;
    left: 50%;
    top: 0;
    width: 800px;
    padding: 20px;
    background: #666;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .6s ease-in-out 0s;
    -webkit-transform: translateY(-50%) scaleX(0);
    -o-transform: translateY(-50%) scaleX(0);
    -ms-transform: translateY(-50%) scaleX(0);
    transform: translateY(-50%) scaleX(0);
    -webkit-transform-origin: left;
    -o-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}