#indexLeft{
    border-right-style: solid;
    width: 20%;
    background-position: left;
}
#indexRight{
    width:80%;
    background-position: right;

}
#indexWrap{
    display: flex;
}
html{
    width: 100%;
    height: 100%;
}
