/*=============== HEADER ===============*/
#headerContainer{
    display: flex;
    justify-content: space-around;
    border-bottom-style: solid;
    background-color: white;
    border-bottom-width: 1px;
    align-items: center;
    height: 80px;
}
#headerContainer ul{
    display: flex;
}
a{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
}
#changeLogo{
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
#profilePhoto{
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
#logo{
    align-items: center;
    height: 50px;
    width: auto;
}
#show{
    margin-right: 0px;
    margin-left:10px;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10%;
    opacity: 100%;
}
#logout{
    margin-top:0px;
}
#color{
    padding: 0;
    mix-blend-mode: overlay;
    cursor: pointer;
    z-index: 1;
    opacity: 0%;
}
/* removes default styling from input color element */
::-webkit-color-swatch {
    border: none;
    transition: background-color 600ms ease-out;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}

::-moz-focus-inner {
    padding: 0;
}
p{
    color:black;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
}
ul{
    align-items: center;
    margin-top:0px;
    margin-bottom:0px;
}

a:hover{
    font-style: oblique;
    background-color: darkgrey;
    transition: 1s;
    animation: opacity;
}

