<!--<div id="categoryModalBg"></div>-->
<div id="categoryEditGround">
    <div id="categoryTitle"></div>
    <div id="categorySubject">제목</div>
    <input type="text" id="subject" value=""/>
    <div id="tagSelect">태그</div>
    <div>
    <ul>
        <li><p></p><input type="checkbox"></li>
    </ul>
    </div>
    <div>
     <input id="selectProvider" type="checkbox">
        공유자를 선택하시겠습니까?
        <div id="maybeProviderList">
            <img src=""/>
            <p id="userName"></p>
            <p id="userEmail"></p>
        </div>
        <div id="providerList">
            <img src=""/>
            <p id="userName"></p>
            <p id="userEmail"></p>
            <div id="providerDelete" src="" onclick="providerDelet"></div>
        </div>
        <div>
            <div id="providerSave"></div>
            <div id="Close" onclick="thisModalClose();"></div>
        </div>
    </div>
</div>