<!--
    담당자 : 강재민
    파일설명 : 카테고리 모달에서 공유자 선택 버튼을 클릭하면 표시되는 모달 파일
-->
<div class="chooseSharerModal" id="chooseSharerModal">
    <div class="chooseSharerModalBody" id="chooseSharerModalBody">
        <div class="chooseSharerModalTitle" id="chooseSharerModalTitle">
            <h2>공유자 선택</h2>
            <img src="/images/category/close_bg_none.png" class="modalCloseBtn" onclick="saveChooseSharer()">
        </div>
        <div class="chooseSharerModalContents" id="chooseSharerModalContents">
            <div class="sharerArea">
                <div class="chosenSharerArea">
                    <div id="sharerTableTitle">공유자</div>
                    <div class="tableWrapper">
                        <table id="chosenUserTable">
                            <tbody id="chosenUserTableBody">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="chooseSharerArea">
                    <div class="searchUser">
                        <form onsubmit="searchUser()">
                            <div id="selectSharer">공유자 선택</div>
                            <div id="searchKeywordContainer">
                            <input class="input-primary" type="text" id="searchKeyword" placeholder="공유자 이름 혹은 이메일">
                            <button type="submit" class="searchButton" style="background-color: #ffffff; border: none"><img class="searchBtn" src="/images/category/icon_search.png"></button>
                            </div>
                        </form>
                    </div>
                    <div class="tableWrapper">
                        <table id="userTable">
                            <tbody id="userTableBody">

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="chooseSharerCompleteBtnArea">
            <button class="btn-primary" onclick="saveChooseSharer()">완료</button>
<!--            <button class="btn-danger" onclick="chooseSharerModalClose()">취소</button>-->
        </div>
    </div>
</div>