
<div class="newCategoryModal" id="newCategoryModal">
    <div class="newCategoryModalBody" id="newCategoryModalBody">
        <div class="newCategoryModalTitle" id="newCategoryModalTitle">
            <h2 id="categoryModalTitle">새로운 카테고리 등록</h2>
            <img src="/images/category/close_bg_none.png" class="modalCloseBtn" onclick="newCategoryModalClose()">
        </div>
        <div class="newCategoryModalContents" id="newCategoryModalContents">
            <label class="newCategoryModalLabel"><div id="newCategoryModalLabelTitle">제목</div> <input class="input-primary" type="text" id="categoryName"></label>
            <div class="tagSelectPartition">
                <div class="tagSelectedArea" id="tagSelectedArea">
                    <div class="titleContainer">선택한 태그</div>
                    <div class="tagSelectedBox" id="tagSelectedBox">

                    </div>
                </div>
                <div class="tagSelectArea" id="tagSelectArea">
                    <div class="titleContainer">태그검색</div>
                    <div class="tagSearchBox">
                        <input type="text" class="input-primary" id="tagSearchInput" oninput="searchTag(this)" placeholder="#해시태그">
                    </div>
                    <div class="tagSelectBox" id="tagSelectBox">

                    </div>
                </div>
            </div>
            <label class="newCategoryModalLabel"><input type="checkbox" id="sharerCheckBox" onchange="sharerChecked(this)">공유 여부</label>
            <div id="chosenSharerContainer" style="width: 103%; display: none;"><button class="btn-third" id="chooseSharerBtn" onclick="chooseSharerModalOpen()"> + </button>
            <div class="chosenSharer" id="chosenSharer" style="display: none;">

            </div>
            </div>
        </div>
        <div class="categoryCompleteBtnArea" id="categoryCompleteBtnArea">
            <button class="btn-primary" id="saveCategoryButton" onclick="saveNewCategory()">완료</button>
        </div>
    </div>
</div>

