<!--
    담당자 : 강재민
    파일설명 : 카테고리 영역의 공유함 모달
-->
<div id="sharedDirectoryModal" class="modal">
    <div id="sharedDirectoryModalTitle">
        <h3>공유함</h3>
        <img class="sharedDirectoryModalCloseBtn" src="/images/category/close_bg_none.png" onclick="sharedDirectoryModalClose()">
    </div>
    <div class="overflowBox scrollBox">
        <div id="sharerList">

        </div>
    </div>
</div>
