
<div id="sharedDirectoryModal">
    <div id="sharedDirectoryModalTitle">
        <h3>공유함</h3>
        <button onclick="sharedDirectoryModalClose()">x</button>
    </div>

    <div id="sharerList">

    </div>
</div>
