
<div id="sharedDirectoryModal" class="modal">
    <div id="sharedDirectoryModalTitle">
        <h3>공유함</h3>
        <img class="sharedDirectoryModalCloseBtn" src="/images/category/close_bg_none.png" onclick="sharedDirectoryModalClose()">
    </div>

    <div id="sharerList">

    </div>
</div>
