#sharedDirectoryModal{
    border-style:solid;
    border-width: 1px;
    position: absolute;
    z-index: 2;
    top:80px;
    left: 200px;
    height: 100%;
    width: 200px;
    background-color: white;
    display: none;
    animation: slideleft 1s;
}
@keyframes slideleft {
    from{
        z-index: -2;
        opacity: 0;
        transform: translate3d(-30px,0,0);
    }
    to{
        z-index: 2;
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.sharerProfilePhoto{
    width: 32px;
    height: 32px;
    border-radius: 10px 10px 10px 10px;
    margin-right: 6px;
}

.sharerRootNode{
    display: flex;

    height: 40px;

    padding-left: 4px;
    padding-top : 2px;
    padding-bottom : 2px;

    margin-top: 4px;
    margin-bottom: 8px;
    align-items: center;

}

.arrowIcon{
    width: 12px;
    height : 12px;
    margin-left: 4px;
    margin-right: 8px;
    cursor: pointer;
    border: none;
    outline: none;
}

.sharerNodeCategory{
    /*margin-top: 4px;*/
    /*margin-bottom: 4px;*/
    /*padding-top: 4px;*/
    /*padding-bottom: 4px;*/
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.sharerNodeCategory :hover{
    background-color: #f3f3f3;
    height: 40px;
}

.sharerNodeCategoryLi{
    padding-left: 20px;
    font-size: 14px;
    align-items: center;
}

#sharedDirectoryModalTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3{
    margin-left: 10px;
}
button{
    margin-right: 10px;
}