@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  overflow: hidden;
}
.scrollBox{
  overflow: auto;
  overflow-x: hidden;
}
.scrollBox::-webkit-scrollbar{
  width: 7px;
}
.scrollBox::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: #bfbfbf;
}
.scrollBox::-webkit-scrollbar-track {
  background-color: #e5e5e5;
  border-radius: 5px;
}
#tagStatisticsSchedule{
  overflow: auto;
  max-height: 90%;
  background: repeating-linear-gradient(#fff, #fff 30px, rgba(0,150,255,0.05) 0, rgba(0,150,255,0.05) 60px);
}

/*a {*/
/*  color: #00B7FF;*/
/*}*/
.newCategoryModal{
  animation: modal-fadein 0.5s;
}
.modal{
  animation: modal-fadein 0.5s;
}
.chooseSharerModalBody{
  animation: modal-fadein 0.5s;
}
.dayClickModalBG,.dayClickModalBody,.scheduleModal{
  animation: modal-fadein 0.5s;
}
@keyframes modal-fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}
/* primary 버튼 */
.btn-primary {
  box-shadow:inset 0px 1px 0px 0px #0098FE;
  background: #0098FE;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:12px;
  padding:6px 12px;
  text-decoration:none;
}
.btn-primary:hover {
  background: #0073E6;
}
.btn-primary:active {
  position:relative;
  top:1px;
}

/* secondary 버튼 */
.btn-secondary {
  box-shadow:inset 0px 1px 0px 0px #f6f6f8;
  background: #ffffff;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:gray;
  font-size:12px;
  padding:6px 12px;
  text-decoration:none;
}
.btn-secondary:hover {
  background: #f6f6f8;
}
.btn-secondary:active {
  position:relative;
  top:1px;
}

/* third 버튼 */
.btn-third {
  width: 32px;
  height: 32px;
  background: #ececef;
  border-radius:15px;
  border:1px dashed #575757;
  display:inline-block;
  cursor:pointer;
  color: #575757;
  text-decoration:none;
}
.btn-third:hover {
  background: #e8f6ff;
  color: #0098fe;
  border:1px solid #0098FE;
}
.btn-third:active {
  position:relative;
  top:1px;
}

/* danger 버튼 */
.btn-danger {
  margin-right: 0;
  background: white;
  border-radius:6px;
  border:1px solid #dc3545;
  display:inline-block;
  cursor:pointer;
  color: #dc3545;
  font-size:12px;
  padding:6px 12px;
  text-decoration:none;
}
.btn-danger:hover {
  background: #dc3545;
  color: white;
  border:1px solid #dc3545;
}
.btn-danger:active {
  position:relative;
  top:1px;
}

/* warning 버튼 */
.btn-warning{
  background: white;
  border-radius:6px;
  border:1px solid #ffc107;
  display:inline-block;
  cursor:pointer;
  color: #ffc107;
  font-size:12px;
  padding:6px 12px;
  text-decoration:none;
}
.btn-warning:hover {
  background: #ffc107;
  color: black;
  border:1px solid #ffc107;
}
.btn-danger:active {
  position:relative;
  top:1px;
}

/*.input-primary{*/
/*  width: 100%;*/
/*  height: 32px;*/
/*  font-size: 15px;*/
/*  border: 0;*/
/*  border-radius: 15px;*/
/*  outline: none;*/
/*  padding-left: 10px;*/
/*  background-color: rgb(233, 233, 233);*/
/*}*/
.input-primary{
  width: 100%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}
.input-primary:hover{
  width: 100%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgba(233, 233, 233,0.5);
}
.input-primary:focus{
  width: 100%;
  height: 32px;
  font-size: 15px;
  border: 1px solid lightblue;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: white;
}
#toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  padding: 15px 20px;
  transform: translate(-50%, 10px);
  border-radius: 30px;
  overflow: hidden;
  font-size: .8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s, transform .5s;
  background: rgba(0, 0, 0, .35);
  color: #fff;
  z-index: 10000;
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0)
}