<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--    chart.js chart만들기 위한 주소-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tagStatistics/tagStatisticsLeftScreen.css">
</head>
<body>
<div class="tagStatisticsGroup">
    <div class="tagStatisticsTitle">태그별 사용횟수</div>
    <div style="display: flex; justify-content: center">
<div id="paintBarChart">
    <canvas id="barChart" style="width:100%;justify-content: center; display: flex; height: 100%;"></canvas>
</div>
    </div>
</div>
</body>
</html>