<!--
    담당자 : 김건희
    기능 : 각 태그의 사용 퍼센트를 나타내는 영역
          태그의 총 수량을 각 태그의 수량으로 나누고 100을 곱함으로써 퍼센트 수치를 냄
-->
<!--    chart.js chart만들기 위한 주소-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/tagStatistics/tagStatisticsLeftScreen.css">
<div class="tagStatisticsGroup">
    <div class="tagStatisticsTitle">태그별 사용횟수</div>
    <div class="scrollBox box" style="display: flex; justify-content: center;  height: 90%;">
        <div id="paintBarChart" >
            <canvas id="barChart" style="width:100%;justify-content: center; display: flex; height: 60%;"></canvas>
        </div>
    </div>
</div>