<!--
    담당자 : 김건희
    기능 : 수평차트로 만들어 각 태그별 수량 및 퍼센트를 나타냄
          커스텀한 div span처럼 나타내기 위해 모든 격자선을 지움
-->
<!--    chart.js chart만들기 위한 주소-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="tagStatisticsGroup">
    <div class="tagStatisticsTitle">태그별 그래프</div>
    <div class="paintPieChart" id="paintPieChart">
        <canvas id="pieChart" style="width: 300px; height: 300px;"></canvas>
        <div class="div-legend" id="div-legend"></div>
    </div>
</div>
