html,body{
    width:100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.feedPageFeedArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

}

.feedPageTitleArea{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.feedContentContainer{
    border-radius: 10px;
    border: solid 1px #e3e3e3;
    display: flex;
    flex-direction: column;
    margin: 3px 0px 3px 0px;
    width: 50%;
}

.feedTitleArea{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #e3e3e3;
    width: 100%;
    justify-content: space-between;

}

.feedProfilePhoto{
    width: 30px;
    height: 30px;
    border-radius: 70%;
    margin : 0px 5px 0px 8px;
}

.feedContents{
    height: 50px;
    width: 100%;
    padding: 20px 10px 20px 10px;
    flex-wrap: wrap;
}

.feedArea{
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedControlBox{
    margin-right: 10px;
}

.feedDeleteBtn{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.feedTitleContainer{
    display: flex;
    align-items: center;
}

.createFeedImg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.feedFooter{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.feedFooterIcon{
    width: 12px;
    height: 12px;
    opacity: 0.3;
}

.feedCommentArea{
    display: flex;
    flex-direction: column;
    margin : 0px 0px 10px 10px;
}

.feedCommentBox{
    display: flex;
    align-items: center;
    margin : 0px 0px 5px 0px;
}

.feedCommentWriterProfile{
    width: 25px;
    height: 25px;
    border-radius: 70%;
    background-color: #5F5F5F;
    margin-right: 5px;
}

.feedCommentWriterName{
    font-weight: bold
}

.feedCommentContents{
    margin-left: 8px;
}

.feedCommentWriteArea{
    display: flex;
    margin : 0px 0px 10px 10px;
}

#commentInput{
    margin-right: 5px
}

.feedCommentDeleteBtn{
    width: 8px;
    height: 8px;
    opacity: 0.5;
    cursor: pointer;
    margin-left: 5px;
}

