#categoryButtonContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: darkgrey 0 0 5px 0;
    height: 51.95px;
}
body{
    height: 100%;
    width:100%;
}


#shareobject{
    padding: 5px;
    border:0px;
    width:70%;
    border-radius: 5px 0px 0px 5px;
    text-align: left;
    margin: 1% 0% 1% 1%;
    background-color: rgba(0,255,0,0.1);
    height: 61px;
}
#shareobject p{
    font-size: 16px;
    opacity: 1;
    margin-bottom: 3px;
    margin-top: 0px;
    margin-left: 2%;
}
#shareobject span{
    font-size: 10px;
    margin-left: 2%;
}
#categoryControlArea{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    height: 71px;
    background-color: rgba(0,255,0,0.1);
    display: flex;
    margin: 1% 0 1% 0;
    border-radius: 0 5px 5px 0;
}
#categoryContainer{
    margin-top: 5px;
    margin-bottom:5px ;
    display: flex;
    justify-content: center;
    /*float: left;*/
    align-items: center;
    width: 95%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 2px rgba(235,235,235,1);
}
#categoryContainer:hover {
    transform: scale(1.02);

}
#categoryContainer:hover #categoryEdit{
    display: block;
}
#categoryContainer:hover #categoryDelete{
    display: block;
}
.modalCloseBtn{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.deleteBtn{
    width : 20px;
    height : 20px;
    cursor : pointer;
}
#tagGroup,#providerGroup{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#categoryEdit{
    display: none;
    margin-top: 20%;
    margin-bottom:20%;
}
#categoryDelete{
    display: none;
    margin-top: 20%;
    margin-bottom:20%;
}

.categoryControl{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.btn-secondary{
    margin-right: 2.5px;
    margin-left: 2.5px;
    width: 95px;
}
/*#moreButton{*/
/*    display: block;*/
/*    margin-top:-80%;*/
/*    margin-left: 60%;*/
/*    width: 3px;*/
/*    height: 3px;*/
/*    border-radius: 50%;*/
/*    background-color: #8e92a4;*/
/*    box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;*/
/*    opacity: 0.4;*/
/*    cursor: pointer;*/
/*}*/
