#categoryButtonContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: darkgrey 0 0 5px 0;
    height: 51.95px;
}
body{
    height: 100%;
    width:100%;
}


#shareobject{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border:0px;
    width:80%;
    border-radius: 5px 0px 0px 5px;
    text-align: left;
    background-color: rgba(0,255,0,0.1);
    height: 90%;
}
#shareobject p{
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 3px;
    margin-top: 0px;
    margin-left: 2%;
}
#shareobject span{
    font-size: 10px;
    margin-left: 2%;
}
#categoryControlArea{
    flex-direction: row;
    justify-content: center;
    width:20%;
    height: 100%;
    background-color: rgba(0,255,0,0.1);
    display: flex;
    margin: 1% 0 1% 0;
    border-radius: 0 5px 5px 0;
}
#categoryContainer{
    margin-top: 5px;
    margin-bottom:5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 2px rgba(235,235,235,1);
    height: 90px;
}
#categoryContainer:hover {
    transform: scale(1.02);

}
#categoryContainer:hover #categoryEdit{
    display: block;
}
#categoryContainer:hover #categoryDelete{
    display: block;
}
.modalCloseBtn{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.deleteBtn{
    width : 20px;
    height : 20px;
    cursor : pointer;
}
#tagGroup{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-left: 7px;
}
#tagGroup span{
    font-size: 13px;
}
#providerGroup{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    margin-top: 3px;
    margin-left: 10px;
}
#imageContainer img{
    width: 25px;
    height: 25px;
    border-radius: 70%;
}
#categoryEdit{
    display: none;
   margin:10% 0% 40% 0%;
    width: 20px;
    height: 20px;
}
#categoryDelete{
    display: none;
    margin:10% 5% 40% 5%;
    width: 20px;
    height: 20px;
}

.categoryControl{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.btn-secondary{
    margin-right: 2.5px;
    margin-left: 2.5px;
    width: 95px;
}
/*#moreButton{*/
/*    display: block;*/
/*    margin-top:-80%;*/
/*    margin-left: 60%;*/
/*    width: 3px;*/
/*    height: 3px;*/
/*    border-radius: 50%;*/
/*    background-color: #8e92a4;*/
/*    box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;*/
/*    opacity: 0.4;*/
/*    cursor: pointer;*/
/*}*/
#userNameContainer{
    visibility: hidden;
    position: absolute;
    z-index: 5;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 0 0 rgba(235,235,235,1);
    margin: 20px 30px;
}
#userNameContainer:after{
    border-top:6px solid #f9f9f9;
    border-left: 6px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:3px;
    left:-6px;
}
#imageContainer:hover #userNameContainer{
    visibility: inherit;
}