/***********************************************/
/*담당자 : 김건희                                */
/*역할 : 카테고리 영역에 카테고리 생성시 카테고리 디자인*/
/*이벤트 : 각각의 주석설명 참조                     */
/***********************************************/
/*카테고리의 생성 일정생성 공유함 버튼의 영역 생성*/
#categoryButtonContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: darkgrey 0 0 5px 0;
    height: 51.95px;
}
/*카테고리 containerBox의 왼쪽에 들어갈 컨테이너 생성*/
#shareobject{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border:0px;
    width:80%;
    border-radius: 5px 0px 0px 5px;
    text-align: left;
    background-color: rgba(0,255,120,0.04);
    height: 90%;
}
/*카테고리container 안에 들어있는 태그 p의 텍스트 설정*/
#shareobject p{
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    margin-bottom: 3px;
    margin-top: 0px;
    margin-left: 2%;
}
/*카테고리container 안에 들어있는 태그 span의 텍스트 설정*/
#shareobject span{
    font-size: 10px;
    margin-left: 2%;
}
/*카테고리 수정 삭제 이미지 및 버튼에 대한 위치,색상등을 설정*/
#categoryControlArea{
    flex-direction: row;
    justify-content: center;
    width:20%;
    height: 100%;
    background-color: rgba(0,255,120,0.04);
    display: flex;
    margin: 1% 0 1% 0;
    border-radius: 0 5px 5px 0;
}
/*카테고리 컨테이너 커스텀*/
#categoryContainer{
    margin-top: 5px;
    margin-bottom:5px ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 2px rgba(235,235,235,1);
    height: 60px;
}
/*카테고리 컨테이너 마우스 오벗 이벤트*/
#categoryContainer:hover {
    background-color: lightgrey;
}
/*카테고리 컨테이너 마우스 오벗 이벤트*/
#categoryContainer:hover #categoryEdit{
    display: block;
}
/*카테고리 컨테이너 마우스 오벗 이벤트*/
#categoryContainer:hover #categoryDelete{
    display: block;
}
/*모든 모달의 닫기버튼 영역 설정*/
.modalCloseBtn{
    width: 28px;
    height: 28px;
    cursor: pointer;
}
/*공유자 모달의 삭제 버튼 설정*/
.deleteBtn{
    width : 20px;
    height : 20px;
    cursor : pointer;
}

#categoryNameGroup{
    cursor: pointer;
}

#categoryNameGroup p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#tagGroup{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
}
#tagGroup div {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    color: rgba(150,150,150,1);
}
#tagGroup div img{
    height: 15px;
    width: 15px;
    opacity: 0.5;
    margin-right: 5px;
}
#tagGroup div span{
    color: rgba(150,150,150,1);
    font-size: 13px;
    margin-left: 5px;
}

#providerGroup{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    margin-top: 3px;
    margin-left: 10px;
}

/*#imageContainer img{*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    border-radius: 70%;*/
/*}*/
/*카테고리 수정 버튼*/
#categoryEdit{
    display: none;
   margin:10% 0% 40% 0%;
    width: 20px;
    height: 20px;
}
/*카테고리 삭제 버튼*/
#categoryDelete{
    display: none;
    margin:10% 5% 40% 5%;
    width: 20px;
    height: 20px;
}

.categoryControl{
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: 0.8;
}
.btn-secondary{
    margin-right: 2.5px;
    margin-left: 2.5px;
    width: 95px;
    height: 51.95px;
}

/*#moreButton{*/
/*    display: block;*/
/*    margin-top:-80%;*/
/*    margin-left: 60%;*/
/*    width: 3px;*/
/*    height: 3px;*/
/*    border-radius: 50%;*/
/*    background-color: #8e92a4;*/
/*    box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;*/
/*    opacity: 0.4;*/
/*    cursor: pointer;*/
/*}*/
/*#userNameContainer{*/
/*    visibility: hidden;*/
/*    position: absolute;*/
/*    z-index: 5;*/
/*    background-color: #f9f9f9;*/
/*    box-shadow: 1px 1px 0 0 rgba(235,235,235,1);*/
/*    margin: 20px 30px;*/
/*}*/
/*#userNameContainer:after{*/
/*    border-top:6px solid rgba(120,120,0,0.1);*/
/*    border-left: 6px solid transparent;*/
/*    border-right: 0px solid transparent;*/
/*    border-bottom: 0px solid transparent;*/
/*    content:"";*/
/*    position:absolute;*/
/*    top:3px;*/
/*    left:-6px;*/
/*}*/
#categoryContents{
    overflow-x: hidden;
    overflow-y: auto;
}
#categoryContents:hover{
    overflow-y: auto;
}
